* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%; /* 10px = 1rem */
  font-family: "Sarabun", sans-serif;
}

.container {
  display: grid;
  grid-template-rows: min-content repeat(5, min-content);
  grid-template-columns:
    [nav-start]0 1fr [about-start] repeat(8, minmax(min-content, 14rem))
    [about-end]
    1fr [nav-end];
}

.nav-bar {
  grid-row: 1/1;
  grid-column: nav-start/nav-end;
  background-color: #fff;

  position: fixed;
  width: 99.99%;
  z-index: 10;
}

.nav-flex {
  display: flex;
  justify-content: space-around;
}

.logo {
  height: 8rem;
}

.nav-list {
  width: 85rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #333;
  border: none;
  outline: none;
}

.toggle-button {
  position: absolute;
  top: 2.7rem;
  right: 4.3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 2rem;
  width: 3rem;
}

.toggle-button .bar {
  height: 0.3rem;
  width: 100%;
  background-color: #333;
  border-radius: 1rem;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .logo {
    margin-left: 4rem;
  }

  .nav-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links {
    padding: 2rem 1rem;
  }

  .nav-links a:hover {
    color: #0fbcf9;
  }

  .nav-list.active {
    display: flex;
  }
}

/* -------------------------------- Header -------------------------------------- */

.header {
  grid-column: nav-start/nav-end;
  height: 63rem;
  background: url(images/photoshop.png), radial-gradient(#fff, #0fbcf9);
  background-position: right;
  background-size: 63rem;
  background-repeat: no-repeat;
  background-color: #eee;
}

.main {
  text-align: left;
  margin-top: 20rem;
  margin-left: 20rem;
  color: #0fbcf9;
}
.heading-1 {
  font-size: 10rem;

  letter-spacing: 0.4rem;
  font-family: "Berkshire Swash", cursive;
}
.header-para {
  font-size: 1.7rem;
  text-align: left;
  color: #333;
  width: 40rem;
}

/* ---------------------------------Media Query Section 1 ------------------------------------*/
@media (max-width: 1300px) {
  .header {
    height: 60rem;
    background-size: 58rem;
  }
  .main {
    margin-left: 18rem;
  }
  .heading-1 {
    font-size: 9rem;
  }
}
@media (max-width: 1180px) {
  .header {
    height: 60rem;
    background-size: 54rem;
  }
  .main {
    margin-left: 15rem;
  }
  .heading-1 {
    font-size: 8.5rem;
  }
}
@media (max-width: 1090px) {
  .header {
    height: 60rem;
    background-size: 51rem;
  }
  .main {
    margin-left: 12rem;
  }
  .heading-1 {
    font-size: 8rem;
  }
}
@media (max-width: 1000px) {
  .header {
    height: 60rem;
    background-size: 47rem;
  }
  .main {
    margin-left: 9rem;
  }
  .heading-1 {
    font-size: 7rem;
  }
  .header-para {
    font-size: 1.5rem;
    width: 35rem;
  }
}
@media (max-width: 890px) {
  .header {
    height: 60rem;
    background-size: 44rem;
  }
  .main {
    margin-left: 7rem;
  }
  .heading-1 {
    font-size: 6rem;
  }
  .header-para {
    font-size: 1.4rem;
    width: 31rem;
  }
}
@media (max-width: 795px) {
  .header {
    height: 60rem;
    background-size: 40rem;
  }
  .main {
    margin-top: 25rem;
    margin-left: 7rem;
  }
  .heading-1 {
    font-size: 5rem;
  }
  .header-para {
    font-size: 1.3rem;
    width: 26rem;
    text-align: center;
  }
}

@media (max-width: 720px) {
  .header {
    height: 60rem;
    background-size: 36rem;
  }
  .main {
    margin-top: 27rem;
    margin-left: 5rem;
  }
  .heading-1 {
    font-size: 4.5rem;
  }
  .header-para {
    font-size: 1.2rem;
    width: 22rem;
    text-align: center;
  }
}
@media (max-width: 630px) {
  .header {
    height: 60rem;
    background-size: 32rem;
  }
  .main {
    margin-top: 29rem;
    margin-left: 4rem;
  }
  .heading-1 {
    font-size: 3.4rem;
  }
  .header-para {
    font-size: 1.1rem;
    width: 18rem;
    text-align: center;
  }
}
@media (max-width: 545px) {
  .header {
    height: 100vh;
    background-size: 20rem;
  }
  .main {
    margin-top: 29rem;
    margin-left: 4rem;
  }
  .heading-1 {
    font-size: 3.4rem;
  }
  .header-para {
    font-size: 1.1rem;
    width: 18rem;
    text-align: center;
  }
}
@media (max-width: 426px) {
  .header {
    height: 100vh;
    background-size: 45rem;
    background-repeat: repeat;
  }
  .main {
    margin-top: 24rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 40vh;
    background-color: #0fbcf9;
    text-align: center;
    padding: 3rem;
    box-shadow: 2rem 2rem 4rem 2rem rgba(0, 0, 0, 0.429);
  }
  .heading-1 {
    font-size: 5rem;
    color: #eee;
  }
  .header-para {
    font-size: 2.1rem;
    width: 22rem;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    color: #eee;
  }
}
@media (max-width: 380px) {
  .header {
    height: 100vh;
    background-size: 40rem;
    background-repeat: repeat;
  }
  .main {
    margin-top: 24rem;
    text-align: center;
    padding: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 40vh;
  }
  .heading-1 {
    font-size: 4.5rem;
    color: #eee;
  }
  .header-para {
    font-size: 1.9rem;
    width: 20rem;
    margin-top: 1rem;
    margin: 0 auto;
    text-align: center;
    color: #eee;
  }
}
@media (max-width: 340px) {
  .header {
    background-size: 37rem;
    background-repeat: repeat;
  }
  .header-para {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 2rem;
  }
  .heading-1 {
    font-size: 4.1rem;
  }
}
@media (max-width: 295px) {
  .header-para {
    font-size: 1.6rem;
    text-align: center;
  }
  .heading-1 {
    font-size: 3.7rem;
  }
}

/* ------------------------------------ Section 2 ----------------------------------------*/

.about-us {
  grid-column: nav-start/nav-end;
}

.heading-2 {
  font-size: 4rem;
  text-transform: capitalize;
  font-family: "Berkshire Swash", cursive;
  margin: 5rem 0rem;
  text-align: center;
  color: #333;
}

.content {
  margin: 15rem 20rem 15rem 20rem;
  height: 50vh;
  width: 70%;
  background-color: #fff;

  display: flex;
  justify-content: center;

  background-color: #fff;
}

.gender {
  display: flex;
  justify-content: center;
  margin: 8rem;
  font-size: 960%;
  padding: 3rem;
  color: #fff;
}

.about-us-img {
  background-image: url(images/men-fashion-1.jpeg);
  background-position: bottom;
  background-size: cover;
  filter: brightness(70%);
  width: 45%;

  transition: all 0.5s ease;
}

.about-us-img:hover {
  filter: brightness(90%);
}

.about-us-img-2 {
  background-image: url(images/women-fashion.jpeg);
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
  width: 45%;

  transition: all 0.5s ease;
}

.about-us-img-2:hover {
  filter: brightness(90%);
}

/* ------------------------- Media query section 2 ----------------- */
@media (max-width: 1024px) {
  .content {
    margin: 15rem 20rem 15rem 17rem;
    height: 45vh;
    width: 65%;
  }
}
@media (max-width: 768px) {
  .content {
    margin: 15rem 20rem 15rem 17rem;
    height: 40vh;
    width: 60%;
  }
  .gender {
    display: flex;
    justify-content: center;
    margin: 6rem;
    font-size: 560%;
  }
}
@media (max-width: 600px) {
  .content {
    margin: 15rem 12rem 15rem 8rem;
    height: 35vh;
    width: 75%;
  }
  .gender {
    display: flex;
    justify-content: center;
    margin: 5rem;
    font-size: 360%;
  }
}
@media (max-width: 425px) {
  .content {
    margin: 10rem 5rem 10rem 4rem;
    height: 30vh;
    width: 75%;
  }
  .gender {
    display: flex;
    justify-content: center;
    margin: 4rem;
    font-size: 260%;
  }
}
@media (max-width: 325px) {
  .content {
    margin: 10rem 1rem 10rem 1rem;
    height: 25vh;
    width: 85%;
  }
  .gender {
    display: flex;
    justify-content: center;
    margin: 3rem;
    font-size: 200%;
  }
}


/* --------------------------------------------------------------------------------- */
.about-para {
  font-size: 1.8rem;
  padding: 5rem;
  letter-spacing: 0.19rem;
  line-height: 2.3rem;
}
.heading-3 {
  text-align: center;
  font-size: 2.9rem;
  margin: 1rem;
  margin-top: 4rem;
  text-transform: uppercase;
  padding-bottom: 3rem;
  border-bottom: 0.2rem solid #333;
  color: #333;
}
.white {
  color: #ddd;
  margin-top: 0rem;
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
  border: none;
}

/* ------------------------- SECTION 3 -------------------------------*/
.showcase {
  grid-column: nav-start/nav-end;
  margin-top: -0.2rem;
  margin-bottom: -0.2rem;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7)
    ),
    url(images/showcase-bg.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  padding-top: -1.2rem;
}

.showcase-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #ddd;
}

.new {
  height: 6rem;
  display: block;
  margin-top: 3rem;
  width: 100%;
}

.showcase-para {
  margin: 0 auto;
  border: 2px solid #333;
  width: 50%;
  font-size: 1.5rem;
  padding: 3rem;
  line-height: 2.8rem;
}

/* --------------------------------- media query section 3 ------------------ */

@media (max-width: 600px) {
  .showcase-para {
    width: 65%;
    font-size: 1.2rem;
    padding: 2rem;
    line-height: 2.2rem;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .showcase-para {
    width: 75%;
    font-size: 1rem;
    padding: 1rem;
    line-height: 2rem;
    text-align: center;
  }
}

/* ------------------------------------ Section - 4 ------------------------- */

.products {
  grid-column: nav-start/nav-end;
  background-color: #fff;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 25rem));
  justify-content: center;
  margin: 12rem 15rem;
  grid-gap: 5rem;
}

.items {
  box-shadow: 0.2rem 0.2rem 1rem rgba(51, 51, 51, 0.11);
  background-color: #fff;
  color: #333;
}

.item-img {
  width: 100%;
  height: 25.5rem;
  background: radial-gradient(#fff, #0fbaf950);
}

.heading-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-h3 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 0;
  margin: 0 2rem;
  border-bottom: 1px solid black;
}
/* #47c9e5 */
.price {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
  margin: 0 2rem;
}

.item-para {
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}

.add-cart {
  width: 100%;
  border: none;
  outline: none;
  padding: 2rem 1.5rem;
  font-size: 1.6rem;
  background-color: #0fbcf940;
  color: #222;
  font-weight: 600;
  cursor: pointer;

  transition: all 250ms linear;
}

.add-cart:hover {
  background-color: #0fbcf970;
}

/* ---------------------------------- Media queries section menu ----------------- */

@media (max-width: 1150px) {
  .item-list {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 25rem));
    margin: 12rem 13rem;

    grid-gap: 4.5rem;
  }
}
@media (max-width: 1100px) {
  .item-list {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 25rem));
    margin: 12rem 10rem;

    grid-gap: 3rem;
  }
}

@media (max-width: 425px) {
  .item-img {
    height: 20.5rem;
  }
  .item-h3 {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
  }
  .price {
    font-size: 1.5rem;
  }
  .item-para {
    font-size: 1.2rem;
  }
  .add-cart {
    font-size: 1.2rem;
  }
}
@media (max-width: 365px) {
  .item-img {
    height: 17.5rem;
  }
  .item-h3 {
    font-size: 1.3rem;
    padding: 1rem 0;
    margin: 0 1rem;
  }
  .price {
    font-size: 1.3rem;
  }
  .item-para {
    font-size: 1rem;
  }
  .add-cart {
    font-size: 1rem;
  }
}
/* ----------------------------------- Newsletter -------------------------------------- */

.gallery {
  grid-column: nav-start/nav-end;
  background-color: #bbb;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url(images/main-gallery.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  clip-path: ellipse(87% 59% at 28% 95%);
}

.gallery-items {
  margin-top: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  text-align: center;
}

.gallery-form {
  font-family: "Berkshire Swash", cursive;
  font-size: 5rem;
  color: #eee;
  text-transform: capitalize;
  letter-spacing: 0.4rem;
}

.gallery-para {
  font-size: 1.7rem;
  color: #eee;
  padding: 3rem 5rem;
}
.input {
  margin: 2rem 0;
  padding: 0.9rem 0.8rem;
  padding-right: 10rem;
  padding-bottom: 1.5rem;
  outline: none;
  border: none;
  border-bottom: 0.3rem solid #eee;
  color: #ddd;
  font-size: 1.7rem;
  font-weight: 600;

  background-color: #e74d3c00;
}

::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 1.5rem;
  color: #aaa;
}

:-ms-input-placeholder {
  color: #aaa;
}

.submit {
  width: 15%;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 2rem;
  background-color: #0fbcf9;
  outline: none;
  border: none;
  font-size: 1.3rem;
  color: #eee;
}

/* --------------------------- Media Query  ------------------------------- */
@media (max-width: 1250px) {
  .gallery-items {
    margin-top: 25rem;
  }
}
@media (max-width: 1050px) {
  .gallery-items {
    margin-top: 27rem;
    width: 75%;
  }
}
@media (max-width: 980px) {
  .gallery-items {
    margin-top: 30rem;
    width: 80%;
  }
  .gallery-form {
    font-size: 3rem;
  }
  .gallery-para {
    font-size: 1.3rem;
  }
  .input {
    font-size: 1.3rem;
  }
  .submit {
    width: 18%;
  }
  ::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 1.3rem;
  }
}

@media (max-width: 828px) {
  .submit {
    width: 22%;
  }
}
@media (max-width: 600px) {
  .gallery-items {
    width: 83%;
  }
  .gallery-form {
    font-size: 2.3rem;
  }
  .gallery-para {
    font-size: 1.1rem;
  }
  .input {
    font-size: 1.1rem;
  }
  .submit {
    width: 27%;
  }
  ::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  .gallery-items {
    margin-top: 25rem;
    width: 83%;
  }
  .gallery-form {
    font-size: 2rem;
  }
  .gallery-para {
    font-size: 1rem;
  }
  .input {
    font-size: 0.8rem;
  }
  .submit {
    width: 31%;
  }
  ::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .submit {
    width: 38%;
    padding: 0.3rem 2rem;
    font-size: 0.8rem;
  }
}
/* ------------------------------- Footer ---------------------------------*/

.footer {
  grid-column: nav-start/nav-end;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #eee;
}
.footer-h3 {
  color: #0fbcf9;
  text-align: center;
  font-size: 2.9rem;
  margin-top: 4rem;
  text-transform: uppercase;
}

.extra {
  font-size: 2rem;
}

.footer-logo {
  margin-top: 5rem;
  height: 14rem;
}

.shortcut ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 30rem;
  height: 10rem;
  align-items: center;
}
.cuts a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: #333;
}

.cuts a:hover {
  color: #0fbcf9;
}

.social-media ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 40rem;
  height: 10rem;
  list-style: none;
}

.s-link {
  height: 3rem;
  transition: transform 0.3s ease;
}

.s-link:hover {
  transform: scale(1.1);
}

.facebook:hover {
  background-color: #0fbcf9;
  border-radius: 50%;
}

.instagram:hover {
  background-color: #0fbcf9;
  border-radius: 50%;
}

.twitter:hover {
  background-color: #0fbcf9;
  border-radius: 50%;
}

.whatsapp:hover {
  background-color: #0fbcf9;
  border-radius: 50%;
}

/* ------------------------------ media queries footer -------------------- */
@media (max-width: 800px) {
  .footer-h3 {
    font-size: 2.2rem;
  }
  .extra {
    font-size: 1.8rem;
  }
  .footer-logo {
    margin-top: 5rem;
    height: 11rem;
  }
  .shortcut ul {
    justify-content: center;
    gap: 1rem;
    width: 25rem;
  }
  .cuts a {
    font-size: 1.5rem;
  }
  .social-media ul {
    width: 30rem;
    height: 10rem;
    list-style: none;
  }

  .s-link {
    height: 3rem;
    transition: transform 0.3s ease;
  }
}

@media (max-width: 630px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .logo-f {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-logo {
    height: 10rem;
  }
  .payment {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social-media {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ---------------------- CART PAGE------------------------ */

.product-container {
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 2px solid black;
}

.cart-bar {
  margin-top: -5rem;
}

.size {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.product-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 0.5rem solid lightgray;
}

.product-title {
  width: 45%;
}

.cart-price {
  width: 15%;
  border-bottom: 0.1rem solid lightgray;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.quantity {
  width: 30%;
  border-bottom: 0.1rem solid lightgray;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.total {
  width: 10%;
  border-bottom: 0.1rem solid lightgray;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 4px solid lightgray;
}

.product ion-icon {
  height: 2rem;
  width: 4rem;
  color: #333;
  cursor: pointer;
}

.quantity ion-icon {
  height: 3rem;
  width: 4rem;
  margin: 0 0.3rem;
  cursor: pointer;
}

.product img {
  height: 15rem;
}

.product span {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.products-cart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.basketTotalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
}

.basket {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(236, 236, 236);
}

.basketTitle {
  font-size: 1.6rem;
  width: 25%;
  margin: 1rem;
}

.basketTotal {
  width: 10%;
  font-size: 1.6rem;
  margin: 1rem;
}

.basketTotalTax {
  width: 10%;
  font-size: 1.6rem;
  margin: 1rem;
}

.totalAfterTax {
  width: 10%;
  font-size: 1.6rem;
  margin: 1rem;
}

@media (max-width: 650px) {
  .product-container {
    max-width: 60rem;
  }
}
@media (max-width: 600px) {
  .product-container {
    max-width: 55rem;
  }
  .product img {
    height: 10rem;
  }
}
@media (max-width: 450px) {
  .product-container {
    max-width: 50rem;
  }
  .product {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product img {
    height: 8rem;
  }
  .product ion-icon {
    height: 1.5rem;
    width: 3.2rem;
  }

  .quantity ion-icon {
    height: 2rem;
    width: 3rem;
  }
  .size {
    font-size: 1.3rem;
  }

  .cart-price {
    font-size: 1.3rem;
  }
  .quantity {
    font-size: 1.3rem;
  }

  .total {
    font-size: 1.3rem;
  }
}
@media (max-width: 380px) {
  .product-container {
    max-width: 40rem;
  }
  .product img {
    height: 6rem;
  }
  .product ion-icon {
    height: 1.5rem;
    width: 2.5rem;
  }

  .quantity ion-icon {
    height: 1.5rem;
    width: 2.6rem;
  }
  .size {
    font-size: 1.2rem;
  }

  .cart-price {
    font-size: 1.2rem;
  }
  .quantity {
    font-size: 1.2rem;
  }

  .total {
    font-size: 1.2rem;
  }
  .basket {
    display: flex;
    justify-content: center;
  }

  .basketTitle {
    font-size: 1.4rem;
  }

  .basketTotal {
    font-size: 1.4rem;
  }

  .basketTotalTax {
    font-size: 1.4rem;
  }

  .totalAfterTax {
    font-size: 1.4rem;
  }
}
